class PolicySummary implements OnInit {
  policy$: Observable<Policy>;

  constructor(policiesStateService: PoliciesStateService) {}

  ngOnInit() {
    this.policy$ = this.policiesStateService.getPolicy();
  }
}
